.About-Me {
  width: 100vw;
  background-color: #202a30;
  color: white;
}

.content {
  align-items: center;
  margin: 0 auto;
}

.ProfilePhoto {
  border-radius: 50%;
  border: 5px white solid;
}