.About-Me {
  width: 100vw;
  background-color: #2E2E2E;
  color: white;
  display: inline-flex;
}

.content {
  align-items: center;
  margin: 0 auto;
}

.ProfilePhoto {
  border-radius: 50%;
  border: 5px white solid;
}