.certifications-container {
  width: 100vw;
  height: 100%;
  background-image: url('../images/certificationsSectionBackground.png');
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(95, 158, 160, .4);

  /* background-color: cadetblue; */
}

.certifications-title {
  margin: 0 auto;
  text-align: center;
  color: ghostwhite;
}