.certifications-container {
  width: 100vw;
  height: 300vh;
  background-color: blueviolet;
  /* overflow: auto; */
}

.certifications-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
}