.certification-project {
  display: flex;
  margin: 35px;
}

.cert-project-name {
  color: whitesmoke;
  margin: 0;
  width: 50%;
  text-align: center;
  margin-left: 5%;
}

.cert-project-buttons {
  position: absolute;
  right: 10%;
}

.cert-project-demo, .cert-project-repo {
  margin-right: 10px;
}