/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-cert {
  background-color: transparent;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-cert-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-cert:hover .flip-cert-inner {
  transform: rotateY(180deg);
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
}

/* Position the front and back side */
.flip-cert-front, .flip-cert-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
}

/* Style the front side (fallback if image is missing) */
.flip-cert-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-cert-back {
  background-color: darkgreen;
  color: white;
  transform: rotateY(180deg);
}

.certImg {
  width: 100%;
}

.cert-projects-container {
  width: 100%;
  height: 85%;
  display: block;
}

.cert-project {
  align-items: center;
  margin-right: 5%;
}

.cert-project-name {
  width: 100%;
}

/*=========================================================================================================*/
/* .animated {
  position: relative;
  top: 20%;
  margin-left: 3%;
} */

.cert-button:link,
.cert-button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 35px;
  display: inline-block;
  width: 40px;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.cert-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 30px rgba(0,0,0,.2);
}

.cert-button:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.cert-button-white {
  background-color: white;
  color: #777;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 25px;
  margin-right: 20px;
}

.cert-button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.cert-button-white::after {
  background-color: white;
}

.cert-button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.cert-button-animated {
  animation: moveInBottom .5s ease-out 3s;
  animation-fill-mode: backwards;
}

.cert-button-lightgreen {
  background-color: lightgreen;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 25px;
  margin-right: 20px;
}

.cert-button-lightgreen::after {
  background: lightgreen;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, lightgreen, rgb(96, 156, 96));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, lightgreen, rgb(96, 156, 96)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cert-link:link,
.cert-link:visited {
  width: 100px;
}

.buttons-container {
  margin-left: 5%;
}