.certification-project {
  display: flex;
  margin: 35px;
}

.cert-project-name {
  color: whitesmoke;
  margin: 0;
  margin-right: 25px;
}

.cert-project-demo, .cert-project-repo {
  margin-right: 25px;
}