.certifications-container {
  width: 100vw;
  height: 100%;
  background-color: cadetblue;
}

.certifications-title {
  margin: 0 auto;
  text-align: center;
  padding: 5% 5%;
  color: darkgreen;
}