footer {
  width: 100vw;
  height: 15vh;
  background-color: #2E2E2E;
  display: flex;
}

.builtWithReact {
  color: whitesmoke;
  margin-left: 5%;
}

span {
  color: #00d8ff;  
}

.footer-react-logo {
  width: 25px;
  height: 25px;
}

.contactIcons {
  position: relative;
  margin: 0 auto;
  margin-top: 2%;
  margin-left: 25%;
}

.icon {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.icon:hover {
  color: cornflowerblue;
}