footer {
  width: 100%;
  background-color: #2E2E2E;
}

.builtWithReact {
  color: whitesmoke;
  display: flex;
  font-weight: 500;
}

span {
  color: #00d8ff;
  display: flex;
  text-align: center;
  padding-left: 5px;
}

.footer-react-logo {
  padding-left: 2px;
}

.icon {
  color: white;
  margin: 0 auto;
}

.icon:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.ending-statement {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.copyright {
  color: white;
}