footer {
  width: 100vw;
  height: 15vh;
  background-color: #2E2E2E;
}

.builtWithReact {
  margin: 0 auto;
  color: whitesmoke;
}

span {
  color: #00d8ff;  
}

.footer-react-logo {
  width: 25px;
  height: 25px;
}