@media only screen and (min-width: 200px) and (max-width: 509px){
    .Skills-title {
      font-size: 7vw;
    }
  
    .row {
      margin-top: 20px;
    }
  
    .skill {
      margin: 10%;
      width: 70px;
      height: 70px;
    }
  
    img {
      margin-top: 0;
      width: 70px;
      height: 70px;
    }
  
    .skill h3 {
      font-size: 4vw;
      color: whitesmoke;
    }
  
    .Projects-button {
      top: 10%;
    }

    .flip-card {
      margin-bottom: 100px;
      width: 350px;
      height: 450px;
    }

    .projectName {
      margin-top: 7px;
      font-size: 6vw;
    }

    .techListItem {
      font-size: 5vw;
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 320px){
    .project-img {
      width: 90vw;
      height: 40vh;
    }
  }

  @media only screen and (min-width: 321px) and (max-width: 376px){
    .project-img {
      width: 90vw;
      height: 45vh;
    }
  }

  @media only screen and (min-width: 400px) and (max-width: 509px){
    .row {
      margin-top: 15px;
      top: 0;
    }
  
    .Projects-button {
      top: 5%;
    }
  }
  
  @media only screen and (min-width: 510px) and (max-width: 1023px){
    .Projects-button {
      top: 10%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .Projects-button {
      top: 25%;
    }

    .flip-card {
      width: 350px;
      height: 500px;
    }

    .project-img {
      width: 350px;
      height: 350px;
    }

    .techListItem {
      font-size: 1.5vw;
    }

    .techList-title {
      font-size: 1.7vw;
    }


  }