.Projects-container {
    width: 100%;
    height: 100%;
    background-image: url('../images/projectSectionBackground.jpg');
    box-shadow: inset 0 0 0 1000px rgba(240, 248, 255, .8);
    /* background-color: aliceblue; */
    text-align: center;
}

.projects-animated {
    top: 5%;
}

.Projects-title {
    margin: 0 auto;
    color: #00BCD4;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}