.Skills-container {
  text-align: center;
  background-image: linear-gradient(to top right, rgba(54, 0, 51, 0.7), rgba(11, 135, 147, 0.7)), url('../images//laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Skills-title {
  color: white;
  margin: 0 auto;
}

.skills-animated {
  position: relative;
}

.Skill {
  background-color: azure;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Skill-name {
  color: white;
  font-weight: 400;
}