html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.titlePage {
  text-align: center;
  background-image: linear-gradient(to left bottom, rgba(111, 158, 188, 0.6), rgba(29, 45, 61, 0.6)), url("../src/computerStation.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

@font-face {
  font-family: Simplifica;
  src: url(SIMPLIFICA.ttf);
}

.title {
  margin: 0 auto;
  position: relative;
  font-size: 8vw;
  color: ghostwhite;
  font-family: Simplifica;
  letter-spacing: 20px;
}

.animated {
  position: relative;
  top: 20%;
  margin-left: 3%;
}

.subtitle {
  font-family: Consolas, monaco, monospace;
  color: ghostwhite;
  position: relative;
  top: 23%;
  font-size: 3.5vw;
  margin-right: 2%;
}

.typewriter {
  margin-left: 1%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40),
    blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.button {
  position: relative;
  top: 40%;
  margin: 0 auto;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  /* position: absolute;
  top: 60%;
  right: 40%;
  left: 40%; */
  width: 100px;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 30px rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out 3s;
  animation-fill-mode: backwards;
}

/* Skills */
.Skills-container {
  height: 100vh;
  text-align: center;
}

.Skills-title {
  font-family: Consolas, monaco, monospace;
  text-shadow: 5px 2px lightgrey;
  letter-spacing: 20px;
  font-size: 4vw;
}

.skills-animated {
  position: relative;
  top: 5%;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.skill {
  width: 150px;
  height: 170px;
  background-color: aliceblue;
  margin: 10px;
}