@media only screen and (min-width: 200px) {
  /* TitlePage */
  .title {
    font-size: 10vw;
  }

  .subtitle {
    font-size: 5.5vw;
  }

  /* Skills */
  .Skills-title {
    letter-spacing: 10px;
    font-size: 8vw;
  }

  .skills-animated {
    top: 7%;
  }

  .Skills-container {
    height: 110vh;    
  }

  .row {
    width: 100vw;
  }

  .Skill {
    width: 75px;
    height: 75px;
    margin: 40px;
  }

  .Skills-Img {
    width: 75px;
    height: 75px;
  }

  .Skill-name {
    font-size: 5vw;
  }

  /* Projects */
  .Projects-title {
    letter-spacing: 10px;
    font-size: 8vw;
    padding: 20% 5% 10% 5%;
  }

  .cards-row {
    width: 90vw;
    margin: 5%;
  }

  .flip-card {
    margin: 0 auto;
    margin-bottom: 50%;
  }

  /* Certifications */
  .certifications-title {
    padding: 20% 5% 10% 5%;
    letter-spacing: 1px;
  }

  .certImg {
    width: 90%;
    height: 30vh;
    position: relative;
    top: 30%;
    padding: 5%;
  }

  .cert-project {
    border-bottom: 1px #458B00 solid;
  }

  .buttons-container {
    padding-bottom: 10px;
  }

  .cert-button-lightgreen {
    margin-right: 10px;
    margin-top: 10px;
  }

  /* AboutMe */
  .About-Me {
    height: 60vh;
    padding-top: 25%;
  }

  .content {
    width: 75%;
  }

  .ProfilePhoto {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .message {
    text-align: justify;
  }

  /* Footer */
  .builtWithReact, .copyright {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }

  .contactIcons {
    display: flex;
    margin: 0 auto;
    width: 100vw;
  }

  .icon {
    padding: 5%;
  }

  .ending-statement {
    padding: 5% 0 5% 0;
  }
}

@media only screen and (min-width: 375px) {
  .Skill-name {
    font-size: 4.5vw;
  }

  .certImg {
    height: 40vh;
  }
}

@media only screen and (min-width: 425px) {
  .subtitle {
    font-size: 4.5vw;
  }

  .Skills-title {
    font-size: 37px;
  }

  .Skill-name {
    font-size: 16px;
  }

  .Projects-title {
    letter-spacing: 5px;
    font-size: 40px;
    padding: 15% 5% 5% 5%;
  }

  .certImg {
    height: 45vh;
  }

  .About-Me {
    height: 60vh;
    padding-top: 15%;
  }

  .ProfilePhoto {
    width: 150px;
    height: 150px;
  }

  .message {
    font-size: 18px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 767px) {
  .flip-card {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .animated {
    margin-left: 2.5%;
  }

  .Projects-title {
    letter-spacing: 5px;
    padding: 10% 5% 0 5%;
  }

  .Skill-name {
    margin-top: 5px;
    font-size: 18px;
  }

  .Skills-container {
    height: 100vh;    
  }

  .flip-card {
    margin-bottom: 15%;
  }

  .certifications-title {
    letter-spacing: 5px;
    padding: 10% 5% 5% 5%;
  }

  .cert-pair {
    display: flex;
    height: 60vh;
  }

  .About-Me {
    height: 25vh;
    padding-top: 20%;
    display: flex;
  }

  .content {
    display: flex;
    position: relative;
    width: 100%;
    bottom: 40%;
    padding: 5%;
  }

  .ProfilePhoto {
    width: 215px;
    height: 175px;
  }

  .message {
    font-size: 17px;
    width: 75%;
    margin: 0 auto;
    padding: 5%;
  }

  .builtWithReact, .copyright {
    position: relative;
    top: 50%;
    transform: translateY(20%);
    padding: 0;
  }

  .contactIcons {
    width: 50vw;
    padding-top: 0;
  }

  .icon {
    padding: 0;
  }

  .ending-statement {
    padding: 5%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1023px) {
  .flip-card {
    padding: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  .animated {
    margin-left: 2.5%;
  }

  .Skill {
    width: 100px;
    height: 100px;
    margin: 35px;
  }

  .Skills-Img {
    width: 100px;
    height: 100px;
  }

  .Skills-title {
    font-size: 4vw;
  }

  .Projects-title {
    letter-spacing: 4px;
    font-size: 3.5vw;
    padding: 10% 5% 5% 5%;
  }

  .cards-row {
    width: 100vw;
    margin: 0 auto;
  }

  .cert-pair {
    padding-bottom: 10%;
  }

  .certImg {
    height: 45vh;
  }

  .About-Me {
    height: 26vh;
    padding-top: 15%;
  }

  .ProfilePhoto {
    width: 180px;
    height: 175px;
    margin-right: 0;
  }

  .message {
    font-size: 1.8vw;
    width: 62%;
  }

}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 8vw;
  }

  .subtitle {
    font-size: 3.5vw;
  }

  .Skills-title {
    font-size: 3vw;
  }

  .Skill-name {
    font-size: 1.5vw;
  }

  .Projects-title {
    letter-spacing: 4px;
    font-size: 3vw;
    padding: 10% 5% 5% 5%;  
  }

  .certifications-title {
    font-size: 3vw;
  }

  .certImg {
    height: 50vh;
  }

  .About-Me {
    height: 30vh;
    padding-top: 15%;
  }

  .content {
    width: 75%;
  }

  .ProfilePhoto {
    width: 200px;
    height: 200px;
    margin-right: 0;
  }

  .message {
    font-size: 1.5vw;
    width: 60%;
    padding: 0;
  }

  .ending-statement {
    padding: 2% 0 2% 0;
  }

}