@media only screen and (min-width: 200px){
  /* TitlePage */
  .title {
    font-size: 10vw;
  }

  .subtitle {
    font-size: 5.5vw;
  }

  /* Skills */
  .Skills-title {
    letter-spacing: 10px;
    font-size: 8vw;
  }

  .skills-animated {
    top: 7%;
  }

  .row {
    width: 100vw;
  }

  .Skill {
    width: 75px;
    height: 75px;
    margin: 40px;
  }

  .Skills-Img {
    width: 75px;
    height: 75px;
  }

  .Skill-name {
    font-size: 5vw;
  }

  /* Projects */
  .Projects-title {
    letter-spacing: 10px;
    font-size: 8vw;
    padding: 20% 5% 10% 5%;
  }

  .flip-card {
    margin: 0 auto;
    margin-bottom: 50%;
  }

  /* Certifications */
  .certifications-title {
    padding: 20% 5% 10% 5%;
    letter-spacing: 1px;
  }

  .certImg {
    width: 90%;
    height: 30vh;
    position: relative;
    top: 30%;
    padding: 5%;
  }

  .cert-project {
    border-bottom: 1px #458B00 solid;
  }

  .buttons-container {
    padding-bottom: 10px;
  }

  .cert-button-lightgreen {
    margin-right: 10px;
    margin-top: 10px;
  }

  /* AboutMe */
  .About-Me {
    height: 65vh;
    padding-top: 20%;
  }

  .ProfilePhoto {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .message {
    text-align: justify;
    /* word-spacing: -2.1px; */
  }

  /* Footer */
  .builtWithReact {
    margin: 0 auto;
    text-align: center;
  }

  .contactIcons {
    padding-top: 5%;
    text-align: center;
  }

  .icon {
    padding: 5%;
  }

  .copyright {
    margin: 0 auto;
    text-align: center;
  }

  .ending-statement {
    padding: 5% 0 5% 0;
  }
}

@media only screen and (min-width: 425px){
  .subtitle {
    font-size: 4.5vw;
  }

  .Skill-name {
    font-size: 4vw;
  }

  .certImg {
    height: 35vh;
  }

  .message {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 768px) {
  .Skills-title {
    font-size: 5vw;
  }

  .Projects-title {
    letter-spacing: 5px;
    font-size: 4.5vw;
    padding: 10% 5% 5% 5%;
  }

  .Skill-name {
    margin-top: 5px;
    font-size: 2.5vw;
  }

  .flip-card {
    margin-bottom: 15%;
  }

  .certifications-title {
    letter-spacing: 5px;
    padding: 10% 5% 5% 5%;
  }

  .cert-pair {
    display: flex;
    height: 60vh;
  }

  .About-Me {
    padding-top: 10%;
  }

  .ProfilePhoto {
    width: 180px;
    height: 180px;
  }

  .message {
    font-size: 2.5vw;
    width: 75%;
    margin: 0 auto;
    padding-top: 5%;
  }

  .contactIcons {
    padding-top: 0;
  }

  .ending-statement {
    padding: 0 0 5% 0;
  }



}