@media only screen and (min-width: 200px){
  /* TitlePage */
  .title {
    font-size: 10vw;
  }

  .subtitle {
    font-size: 5.5vw;
  }

  /* Skills */
  .Skills-title {
    font-size: 8vw;
  }

  .skills-animated {
    top: 7%;
  }

  .row {
    width: 100vw;
  }

  .Skill {
    width: 50px;
    height: 50px;
    margin: 40px;
  }

  .Skills-Img {
    width: 50px;
    height: 50px;
  }

  .Skill-name {
    font-size: 5vw;
  }

  /* Projects */
  .Projects-title {
    letter-spacing: 10px;
    font-size: 8vw;
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .flip-card {
    margin: 0 auto;
    margin-bottom: 100%;
  }


}